<div class="post-errors">
  <%= render 'shared/errors', resource: @post %>
</div>

<div class="title_header">
  <div class="title">
    <h2><%= @post.title %></h2>
  </div>
</div>
<hr>
<div class="float-end pt-1">
  <%= link_to 'Edit post', edit_post_path(@post), class: 'btn btn-info btn-sm' %>
  <%= link_to 'Delete post', post_path(@post), data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }, class: 'btn btn-danger btn-sm' %>
</div>
<br>
<div class="body">
  <%= @post.body %>
</div>
